apiVersion: v1
kind: Service
metadata:
  name: gitlab
  namespace: gitlab
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
      name: http
    - port: 443
      targetPort: 443
      nodePort: 30443
      name: https
    - port: 22
      targetPort: 22
      nodePort: 30022
      name: ssh
  selector:
    app: gitlab
