.git
.idea
.vscode
**/target
!swirlapp-user/target
!swirlapp-user/target/swirlapp-user.jar
!swirlapp-order/target
!swirlapp-order/target/swirlapp-order.jar
**/node_modules
**/dist
**/coverage
**/.angular
**/test-results.xml
*.log
*.tmp
