---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: devapp-gateway
  namespace: devapp
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: devapp-vs
  namespace: devapp
spec:
  hosts:
  - "*"
  gateways:
  - devapp-gateway
  http:
  - match:
    - uri:
        prefix: /api/users
    route:
    - destination:
        host: user-app
        port:
          number: 8080
  - match:
    - uri:
        prefix: /api/orders
    route:
    - destination:
        host: order-app
        port:
          number: 8081
  - match:
    - uri:
        prefix: /auth
    route:
    - destination:
        host: keycloak
        port:
          number: 8080
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: devapp-web
        port:
          number: 80

---
apiVersion: security.istio.io/v1beta1
kind: RequestAuthentication
metadata:
  name: gateway-jwt
  namespace: devapp
spec:
  selector:
    matchLabels:
      istio: ingressgateway # Apply to the Ingress Gateway
  jwtRules:
  - issuer: "http://localhost/auth/realms/devapp"
    jwksUri: "http://keycloak.devapp.svc.cluster.local:8080/realms/devapp/protocol/openid-connect/certs"
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: gateway-auth-policy
  namespace: devapp
spec:
  selector:
    matchLabels:
      istio: ingressgateway
  action: ALLOW
  rules:
  # Allow public access to everything EXCEPT /api/*
  - to:
    - operation:
        notPaths: ["/api/*"]
  # Allow authenticated access to /api/*
  - from:
    - source:
        requestPrincipals: ["*"]
    to:
    - operation:
        paths: ["/api/*"]
