apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-maven-settings
  namespace: jenkins
data:
  settings.xml: |
    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <!-- Credentials for Artifactory -->
      <servers>
        <server>
          <id>central</id>
          <username>admin</username>
          <password>password</password>
        </server>
        <server>
          <id>snapshots</id>
          <username>admin</username>
          <password>password</password>
        </server>
      </servers>

      <!--
        Note: Mirrors are commented out by default.
        Uncomment after configuring Artifactory repositories (libs-release, libs-snapshot)
        and remote proxies (Maven Central) in the Artifactory UI.
      -->
      <!--
      <mirrors>
        <mirror>
          <id>artifactory-maven-central</id>
          <mirrorOf>*</mirrorOf>
          <url>http://artifactory.artifactory.svc.cluster.local:8081/artifactory/libs-release</url>
        </mirror>
      </mirrors>
      -->

      <profiles>
        <profile>
          <id>artifactory</id>
          <repositories>
            <repository>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
              <id>central</id>
              <name>libs-release</name>
              <url>http://artifactory.artifactory.svc.cluster.local:8081/artifactory/libs-release</url>
            </repository>
            <repository>
              <snapshots />
              <id>snapshots</id>
              <name>libs-snapshot</name>
              <url>http://artifactory.artifactory.svc.cluster.local:8081/artifactory/libs-snapshot</url>
            </repository>
          </repositories>
          <pluginRepositories>
            <pluginRepository>
              <snapshots>
                <enabled>false</enabled>
              </snapshots>
              <id>central</id>
              <name>libs-release</name>
              <url>http://artifactory.artifactory.svc.cluster.local:8081/artifactory/libs-release</url>
            </pluginRepository>
            <pluginRepository>
              <snapshots />
              <id>snapshots</id>
              <name>libs-snapshot</name>
              <url>http://artifactory.artifactory.svc.cluster.local:8081/artifactory/libs-snapshot</url>
            </pluginRepository>
          </pluginRepositories>
        </profile>
      </profiles>
      <!--
        Note: The profile is active by default but relies on Artifactory repositories existing.
        If Artifactory is down or unconfigured, builds may fail.
      -->
      <!--
      <activeProfiles>
        <activeProfile>artifactory</activeProfile>
      </activeProfiles>
      -->
    </settings>
